html {
  background: #abc;
  padding: 0;
  margin: 0px;
  font-family: Helvetica, sans-serif;
  height: 100%;
}

body {
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#content0 {
  padding: 2em;
}

#content {
  background: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 16px;
}

#debug {
  background-color: rgba(255, 127, 0, 0.5);
  padding: 1em;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

#output_bpm,
#beat_pattern,
#overlap {
  /* font-size: 120%; */
  padding: 0.5em;
  margin: 0.5em;
  width: 80%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#output_bpm {
  width: 80%;
}

audio {
  width: 75%;
}

#beat_pattern {
  text-align: center;
  width: 20%;
}

#overlap {
  text-align: center;
  width: 20%;
}

.hidden {
  display: none !important;
}

#rehack_button,
#download_button {
  font-size: 150%;
}

#analysis_info span {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 3px 6px;
  margin: 0px 2px;
}

#analysis_info h3 {
  line-height: 180%;
}

hr {
  width: 70%;
  height: 1px;
  border: none;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
