app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5em 1fr;
  grid-gap: 1em;
  padding: 1em;
}

player {
  background: rgba(0, 0, 0, 0.1);
  grid-column-start: 1;
  grid-column-end: 3;
}

.panel {
  background: rgba(0, 0, 0, 0.1);
  flex: 1 0 0;
  box-sizing: border-box;
  border: 1px solid #0004;
}

section {
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid black;
}

section-list {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
